.local/share/fonts/.uuid
.config/i3/i3-display-configuration.sh
.config/nvim/lazy-lock.json
.config/nvim/projects/*
!.config/nvim/projects/linux.lua
.config/hypr/lid.conf
.config/hypr/scripts/idle/idle
.config/waybar/hyprland/cpu
.config/waybar/hyprland/temperature
